html, body {
  height: 100%;
}

body {
  margin: 0 20px;
  padding-bottom: 125px;
  overflow-x: hidden;
  background-color:	#F3F3F3;
}

.header {
  padding: 1px 0 0px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.subheader {
  margin-bottom: 10px;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
}

#search_box {
  margin-top: 0px;
  margin-right: 10px;
}

#manual {
  float: right;
}
#notes_name {
  float: right;
  margin-right: 60px;
}
#doc_name {
  float: right;
  margin-right: 20px;
}


#explorer_container {
  width: 200px;
  height: 100%;
  flex-direction: column;
}

#outline {
  width: 200px;
  height: 100%;
  flex-direction: column;
}

#src {
  width: 500px;
  height: 100vh;
}

#dst {
  width: 100%;
  height: 100vh;
  flex-grow: 1;
}

#src .CodeMirror {
  background-color: #fffffb;
  border: 1px solid #888;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc inset;
}

#dst .CodeMirror {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  border-radius: 3px;
}

/*.CodeMirror-scroll {
  height: 500px;
  line-height: 1.2;
}*/

.CodeMirror {
  height: 100%;
  font-size: 13px;
}

.CodeMirror .cm-comment {
  color: #baa;
}

.demo {
  /* for IE10+ touch devices */
  touch-action:none;
}

/** ELEMENTS **/
.drag-drop-demo .window {
  font-family: serif;
  background-color: white;
  border: 1px solid #346789;
  text-align: center;
  z-index: 24;
  cursor: pointer;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  position: absolute;
  color: black;
  padding-top: 5px;
  padding-bottom: 30px;
  width: 140px;
  height: 120px;
  line-height: 12px;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}

.window:hover {
  border:1px solid #123456;
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #fff;
  opacity:0.9;
}


.drag-drop-demo a, .drag-drop-demo a:visited {
  color:#057D9F;
}

.drag-drop-demo a:hover {
  color:orange;
}

.drag-drop-demo img {
  max-width:100%;
  max-height:100%;
  object-fit:scale-down;
}
/** LINKS IN WINDOWS **/
.drag-locked { border:1px solid red; }
.cmdLink { font-size:0.80em;}

/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }

path, .jtk-endpoint { cursor:pointer; }

[jtk-not-draggable] {
  border:2px solid darkorange !important;
}

/*
table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;  text-align: center; font-weight: bold;}  
table tr td {border:1px #ccc solid; padding:5px;}  
table tr td.rightright {background: #eee;}  
table tr td h4 {margin:0; padding:0; font-weight:normal;} 
*/

table {
  margin-bottom: 2em;
  width: 100%;
}
th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left;
}
td { border-bottom: 1px solid #ddd; }
caption, th, td {
  padding: 4px 10px 4px 0;
}
caption {
  background: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 1em;
}

tr,td,th {
  vertical-align: middle;
}

.clusterize {
  width: 100% !important;
  height: 100%;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

input{
  width: 100%;
}

.button-system {
  align-items: center;
  background-color: #0a62d0;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 4px;
}



.button-system:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button-user {
  align-items: center;
  background-color: #f3d849;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 4px;
}

.button-user:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button-danger {
  align-items: center;
  background-color: #f26659;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 4px;
}

.button-danger:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button-dark {
  align-items: center;
  background-color: #191718;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 4px;
}

.button-dark:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.button-outline {
  align-items: center;
  background-color: #eaecee;
  border-radius: 2px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 12px;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 4px;
  margin-left: 4px;
  width: 100%;
}

.button-outline:hover {
  box-shadow: #0a62d0 0 0 0 3px, transparent 0 0 0 0;
}


.cm_container{
  position: fixed;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.1s;
  transform-origin: top left;
  padding: 0;
}

.cm_container.display{
  opacity: 1;
  transform: scale(1);
}

.cm_container, .cm_container *{
  box-sizing: border-box;
}

.cm_container *{
  position: relative;
}

.cm_container ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #ccc;
  box-shadow: 0 0 5px #333;
}

.cm_container li{
  padding: 5px 10px;
  padding-right: 1.7em;
  cursor: pointer;
  white-space: nowrap;
}

.cm_container li:hover{
  background-color: #bbb;
}

.cm_container li .cm_icon_span{
  width: 1.5em;
  height: 1.2em;
  vertical-align: bottom;
  display: inline-block;
  border-right: 1px solid #aaa;
  margin-right: 5px;
  padding-right: 5px;
  text-align: center;
}

.cm_container li .cm_sub_span{
  width: 1em;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
}

.cm_container li > ul{
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.cm_container li:hover > ul{
  opacity: 1;
  visibility: visible;
}

.cm_container li.cm_divider{
  border-bottom: 1px solid #aaa;
  margin: 5px;
  padding: 0;
  cursor: default;
}

.cm_container li.cm_divider:hover{
  background-color: inherit;
}

.cm_container.cm_border_right > ul ul{
  left: unset;
  right: 100%;
}

.cm_container.cm_border_bottom > ul ul{
  top: unset;
  bottom: 0;
}

.cm_container li[disabled=""]{
  color: #777;
  cursor: default;
}

.cm_container li[disabled=""]:hover{
  background-color: inherit;
}