<!DOCTYPE html>
<html>
  <head>
    <title>Diagram Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Live example of YAML JavaScript parser right in your browser. Type your YAML code and see result.">
    <meta name="keywords" content="yaml,parser,javascript">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="diagram.css">

    <link rel="stylesheet" href="jsplumbtoolkit.css">
    <link rel="stylesheet" href="jsplumbtoolkit-demo.css">

  </head>
  <body>

    <div class="header">
      <h1>Diagram Builder</h1>
    </div>
    <div id="content">
      <div id="src">
        <h4 class="subheader"><a href="#" id="permalink">permalink</a> Edit source here:</h4>
        <textarea id="source">---
diagram:
    grid_width: 300  # 640 pixels width
    grid_height: 300  # 480 pixels heigth
    grid_padding: 0.3   # 20% blank around the nodes
nodes:
    n1:
        title: World Bank
        img: https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fa4365c3b20413f92c9763f2fcbddca231412c47c20d01-nFvQZ0_fw658&refer=http%3A%2F%2Fhbimg.b0.upaiyun.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1656583888&t=7b63e4ff923c0a717edc60a07c14f1d4
        row: 1   # put it in (1,1) 
        col: 1
        border: 2px dashed green
    n2:
        title: EDC Machine
        img: https://img2.baidu.com/it/u=4189416670,2802646474&fm=253&fmt=auto&app=138&f=JPEG?w=614&h=414
        row: 1   # put it in (1,1) 
        col: 2
    n3:
        title: Wine Dealer
        img: https://img1.baidu.com/it/u=310438553,3465145814&fm=253&fmt=auto&app=120&f=JPEG?w=341&h=192
        row: 2   # put it in (1,1) 
        col: 3
        border: false
edges:
  - source: n1
    target: n2
    anchor: AutoDefault
    endpoints:
        - Dot
        - Blank
    overlays:
        - type: Arrow
          options:
            location: 1
        - type: Label
          options:
            label: foo
            location: 50
            id: mylabel
</textarea>
      </div>
      <div id="resize">
      </div>
      <div class="jtk-demo-main" id="dst">
        <!-- demo -->
        <div class="jtk-demo-canvas canvas-wide drag-drop-demo jtk-surface jtk-surface-nopan" id="canvas">

        </div>
      </div>
    </div>

    <script src="jsplumb.util.umd.js"></script>
    <script src="jsplumb.common.umd.js"></script>
    <script src="jsplumb.core.umd.js"></script>
    <script src="jsplumb.connector-bezier.umd.js"></script>
    <script src="jsplumb.connector-flowchart.umd.js"></script>
    <script src="jsplumb.browser-ui.umd.js"></script>
    <script src="diagram.js"></script>

  </body>
</html>
