<!DOCTYPE html>
<html>
  <head>
    <title>Diagram Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Live example of YAML JavaScript parser right in your browser. Type your YAML code and see result.">
    <meta name="keywords" content="yaml,parser,javascript">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="codemirror.css">
    <link rel="stylesheet" href="diagram.css">

    <link rel="stylesheet" href="jsplumbtoolkit.css">
    <link rel="stylesheet" href="jsplumbtoolkit-demo.css">

  </head>
  <body>

    <div class="header">
      <h1>Diagram Builder</h1>
    </div>
    <div id="content">
      <div id="src">
        <h4 class="subheader"><a href="#" id="permalink">permalink</a> Edit source here:</h4>
        <textarea id="source">---
diagram:
    cols: 3   # 3 grids in X [1,2,3]
    rows: 3   # 3 grids in Y [1,2,3]
    width: 640  # 640 pixels width
    height: 480  # 480 pixels heigth
    padding: 0.2   # 20% blank around the nodes
    title: The Title of the Diagram
    diagram style:
        background-color: white  # https://html-color-codes.info/color-names/
    title style:
        key: val
    node style:
        key: val
    image style:
        key: val
    text style:
        key: val
nodes:
    n1:
        title: Node 1
        title style:
                key1: val1
                key2: val2
        image: https://www.baidu.com/baidu.png
        image style:
                key1: val1
                key2: val2
        row: 1   # put it in (1,1) 
        col: 1
        node style:
            key1: val1
            key2: val2
    n2:
        title: Node 2
        image: https://www.baidu.com/baidu.png   
        row: 1  # put it in (1,3)
        col: 3  
    n3:
        title: Node 3
        image: https://www.baidu.com/baidu.png
        row: 3  # put it in (3,3)
        col: 3
edges:
    -   from: n1
        to: n2
        type: arrow
        color: red
        notes: | 
            a description for this message
            with line break.
        sn: 1  # sequence number of the edge
    -   from: n2
        to: n3
        type: arrow
        notes: single line note
        sn: 2
    -   from: n3
        to: n1
        type: arrow
        sn: 3
</textarea>
      </div>
      <div id="resize">
      </div>
      <div class="jtk-demo-main" id="dst">
        <!-- demo -->
        <div class="jtk-demo-canvas canvas-wide drag-drop-demo jtk-surface jtk-surface-nopan" id="canvas">
            <div class="window" id="dragDropWindow1">one<br/>
                <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt="Smiley face" />
            </div>
            <div class="window" id="dragDropWindow2">two<br/><br/><a href="#" class="cmdLink hide" rel="dragDropWindow2">toggle connections</a><br/><a href="#" class="cmdLink drag" rel="dragDropWindow2">disable dragging</a><br/><a href="#" class="cmdLink detach" rel="dragDropWindow2">detach all</a></div>
            <div class="window" id="dragDropWindow3">three<br/><br/><a href="#" class="cmdLink hide" rel="dragDropWindow3">toggle connections</a><br/><a href="#" class="cmdLink drag" rel="dragDropWindow3">disable dragging</a><br/><a href="#" class="cmdLink detach" rel="dragDropWindow3">detach all</a></div>
            <div class="window" id="dragDropWindow4">four<br/><br/><a href="#" class="cmdLink hide" rel="dragDropWindow4">toggle connections</a><br/><a href="#" class="cmdLink drag" rel="dragDropWindow4">disable dragging</a><br/><a href="#" class="cmdLink detach" rel="dragDropWindow4">detach all</a></div>
        </div>
      </div>
    </div>

    <script src="jsplumb.util.umd.js"></script>
    <script src="jsplumb.common.umd.js"></script>
    <script src="jsplumb.core.umd.js"></script>
    <script src="jsplumb.connector-bezier.umd.js"></script>
    <script src="jsplumb.connector-flowchart.umd.js"></script>
    <script src="jsplumb.browser-ui.umd.js"></script>
    <script src="diagram.js"></script>

  </body>
</html>
